{{- /*
    Renders a menu for the given menu ID.

    @context {page} page The current page.
    @context {string} menuID The menu ID.

    @example: {{ partial "menu.html" (dict "menuID" "main" "page" .)
}}
*/}}
{{- $page := .page }}
{{- $menuID := .menuID }}

{{- with index site.Menus $menuID }}
    <nav aria-label="Global" class="hidden md:block">
        <ul class="flex items-center gap-6 text-sm">
            {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
        </ul>
    </nav>
{{- end }}

{{- define "_partials/inline/menu/walk.html" }}
    {{- $page := .page }}
    {{- range .menuEntries }}
        {{- $href := .URL }}
        {{- with .Params.fragment }}
            {{ $href = printf "%s#%s" $href . }}
        {{- end }}
        {{- $attrs := dict "href" $href }}
        {{- $classList := " flex h-28 items-center text-gray-50 transition px-6 hover:text-gray-200/75" -}}

        {{- if $page.IsMenuCurrent .Menu . }}
            {{- $attrs = merge $attrs (dict "class" (add "active" $classList) "aria-current" "page") }}
        {{- else if $page.HasMenuCurrent .Menu . }}
            {{- $attrs = merge $attrs (dict "class" (add "ancestor" $classList) "aria-current" "true") }}
        {{- else -}}
            {{- $attrs = merge $attrs (dict "class" $classList) }}
        {{- end -}}

        {{- $name := .Name }}
        {{- with .Identifier }}
            {{- with T . }}
                {{- $name = . }}
            {{- end }}
        {{- end -}}

        <li class="inline-block h-full">
            <a
                {{- range $k, $v := $attrs }}
                    {{- with $v }}
                        {{- printf " %s=%q" $k $v | safeHTMLAttr }}
                    {{- end }}
                {{- end -}}
            >
                {{ $name }}
            </a>
            {{- with .Children }}
                <ul>
                    {{- partial "inline/menu/walk.html" (dict "page" $page "menuEntries" .) }}
                </ul>
            {{- end -}}
        </li>
    {{- end }}
{{- end }}
