<!doctype html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body>
        {{ if ne .Kind "404" }}
            {{ if eq .Kind "home" }}
                {{ partial "information_bar.html" . }}
            {{ end }}
            <header class="sticky top-0 left-0 z-10 h-0" id="header">
                {{ partial "header.html" . }}
            </header>
        {{ end }}
        <main id="main">
            {{ block "main" . }}{{ end }}
        </main>
        {{ if ne .Kind "404" }}
            <footer>
                {{ partial "footer.html" . }}
            </footer>
        {{ end }}
        <div class="fixed right-5 bottom-5 rounded-full bg-gradient-to-tr from-gray-100 from-20% to-gray-300 px-5 py-2 text-lg font-bold text-red-500 shadow-md hover:text-blue-400">
            {{ .Kind }}
        </div>
        {{ partial "scripts.html" . }}
    </body>
</html>
