{{ define "main" }}
    <!-- Hero Section -->
    <div id="hero" class="relative h-[85dvh] w-full">
        <!-- gradient overlay -->
        <div class="to-primary-dark absolute inset-0 h-full w-full bg-linear-to-b from-transparent to-85%"></div>

        <!-- Background Image  -->
        {{- with resources.Get "images/gedung.jpeg" -}}
            <img src="{{ .RelPermalink }}" class="h-full w-full object-cover" alt="" />
        {{- end -}}
        {{/* <!-- Background Color --> */}}
        {{/* <div class="absolute inset-0 h-full w-full bg-gray-200"></div> */}}


        <!-- Hero Content -->
        <div class="absolute top-0 left-0 h-full w-full">
            <div class="container mx-auto flex h-full items-center justify-center px-4 pt-8 sm:px-6 lg:px-8">
                <div class="">
                    <div class="text-center">
                        <h1 class="bg-primary-opacity-75 mb-3 inline-block border-r-9 border-r-yellow-600 px-4 py-2 text-6xl font-bold text-nowrap text-yellow-300">
                            Technopreneur
                            <span class="text-blue-300 uppercase">UNIVERSITY</span>
                        </h1>
                        <span class="mb-2 inline-block w-2/3 bg-gray-800/70 px-4 py-2 text-xl text-white">Menjadi Technopreneur di Kampus Merdeka, Yang Mampu Untuk Menganggapi Perubahan Jaman.</span>
                    </div>
                    <div class="flex items-center justify-center gap-2.5">
                        <a href="#" class="cta-hero">
                            Daftar Sekarang!
                            <i class="fa fa-arrow-right ms-2 text-base"></i>
                        </a>
                        <a href="#" class="cta-hero outline">Lorem Ipsum</a>
                    </div>
                    <div class="absolute right-1/2 bottom-2 flex translate-x-1/2 items-center justify-center text-2xl text-white">
                        <i class="fa fa-arrow-down animate-bounce"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Jump Section -->
    <div class="bg-primary-dark h-screen w-full"></div>

    <!-- Content  -->
    {{ .Content }}
    {{ range site.RegularPages }}
        <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        {{ .Summary }}
    {{ end }}
{{ end }}
