{{ define "main" }}
    <!-- Hero Section -->
    <div id="hero" class="relative h-[90dvh] w-full">
        <!-- gradient overlay -->
        <div class="to-primary absolute inset-0 h-full w-full bg-linear-to-b from-transparent to-85%"></div>

        <!-- Background Image  -->
        {{- with resources.Get "images/gedung.jpeg" -}}
            <img src="{{ .RelPermalink }}" class="h-full w-full object-cover" alt="" />
        {{- end -}}
        {{/* <!-- Background Color --> */}}
        {{/* <div class="absolute inset-0 h-full w-full bg-gray-200"></div> */}}


        <!-- Hero Content -->
        <div class="absolute top-0 left-0 h-full w-full">
            <div class="container mx-auto flex h-full items-center justify-center px-4 pt-8 sm:px-6 lg:px-8">
                <div class="">
                    <div class="text-center">
                        <h1 class="bg-primary/75 mb-3 inline-block border-r-9 border-r-yellow-600 px-4 py-2 text-6xl font-bold text-nowrap text-yellow-300">
                            Technopreneur
                            <span class="text-blue-300 uppercase">UNIVERSITY</span>
                        </h1>
                        <span class="mb-2 inline-block w-2/3 bg-gray-800/70 px-4 py-2 text-xl text-white">Menjadi Technopreneur di Kampus Merdeka, Yang Mampu Untuk Menganggapi Perubahan Jaman.</span>
                    </div>
                    <div class="flex items-center justify-center gap-2.5">
                        <a href="#" class="cta-hero">
                            Daftar Sekarang!
                            <i class="fa fa-arrow-right ms-2 text-base"></i>
                        </a>
                        <a href="#" class="cta-hero outline">Lorem Ipsum</a>
                    </div>
                    <div class="absolute right-1/2 bottom-2 flex translate-x-1/2 items-center justify-center text-2xl text-white">
                        <i class="fa fa-arrow-down animate-bounce"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Count Section -->
    <div class="bg-primary w-full py-20">
        <div class="container mx-auto">
            <div class="mb-10 text-center">
                <h1 class="intersect-once intersect-full intersect:animate-fade-down intersect:opacity-100 mb-3.5 text-5xl font-extrabold text-white opacity-0">
                    Civitas
                    <span class="text-yellow-400">Academica</span>
                </h1>
                <span class="intersect-once intersect-full animate-delay-300 intersect:animate-fade-down intersect:opacity-100 inline-block w-[45%] text-lg text-white opacity-0">Jadilah bagian dari civitas akademika kami: mahasiswa, dosen, dan inovator perancang masa depan.</span>
            </div>
            <div class="flex gap-20">
                {{ range .Site.Params.counts }}
                    <div class="box-count intersect:animate-fade-up intersect-once">
                        <div class="text-primary-dark mx-auto mb-4 flex h-20 w-20 items-center justify-center rounded-full bg-yellow-400 p-4 text-4xl font-bold"><i class="{{ .icon }}"></i></div>
                        <div class="flex items-end justify-center">
                            <span class="count-it count-it text-5xl font-bold text-white" data-count="{{ .count }}">0</span>
                            <span class="text-2xl font-extrabold text-yellow-400">+</span>
                        </div>
                        <div class="flex items-center justify-center">
                            <h2 class="text-xl font-extrabold text-white uppercase">{{ .name }}</h2>
                        </div>
                        <div class="flex items-center justify-center"><span class="text-center text-base text-gray-200/75">{{ .desc }}</span></div>
                    </div>
                {{ end }}
            </div>
        </div>
    </div>


    <!-- Faculty -->
    <div class="h-screen w-full"></div>

    <!-- Content  -->
    {{ .Content }}
    {{ range site.RegularPages }}
        <h2><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
        {{ .Summary }}
    {{ end }}
{{ end }}
